.entire{
  
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 10px;
  /* max-height: max-content; */
  background-color: black;
}


.details {
  display: flex;
  flex-direction: column;
  width: 70%;

  border-radius: 20px;
  border: 10px solid grey;
  background-color: #e5e7eb;
  box-sizing: border-box;
  margin: 0 auto; 
  height: auto;
  min-height: auto;
  box-sizing: auto;
}


.tAll{
  display: flex;
  flex-direction: column;
  width: auto;
  
  /* padding-top: 10px; */

  border-radius: 20px;

  border: 10px solid grey;
  background-color: grey;
  margin: 10px auto;
}

.first2{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.imgs {
  flex: 0 2 auto;
  height: auto;
  max-width: 60%;
  padding: 30px 20%
}

.detail {
  flex: 1;

}

.desc {
  margin-top: 2rem; 
  width: 100%;
  line-height: 1.7rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.backline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
 
  padding-top: .9rem;
  margin-bottom: 10px;
  width: 100%;
  /* position: relative; */

}

.backline .backdiv{
  align-self: center;
  border-radius: 50px;
  
  padding: 10px 0.5%;
  align-items: center;
  
}

.linkB{
  text-decoration: none;
}
.back-button {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  padding: 1px;
  position: relative;
  text-decoration: none;
  width: 100px;
  z-index: 2;
}

.back-button .adds {

  font-size: 20px;
  text-decoration: none;
}

.back-button:hover {
  background-color: darkgray;
  filter: drop-shadow(2px 2px 15px white)
  drop-shadow(1px 1px 15px blue);
  
}




.addRB{

  /* display: grid;
  grid-template-columns: 2fr auto 2fr;
 
  align-items: center; */
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -2rem;

}


.backlineB{
  align-self: center;
  border-radius: 50px;
  
  padding: 10px 2%;
  align-items: center;
  /* background-color: #27AE60; */
  
}

.back-buttonB{

  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  cursor: pointer;
}

.back-buttonB .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}


.back-buttonB:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
  
}

.back-buttonB:hover {
  background-image: linear-gradient(-45deg, #dc7545, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  filter: drop-shadow(1px 1px 10px white)
    drop-shadow(1px 1px 15px blue);
}



.back-buttonB.active:after {
  background: #038114;
}

.back-buttonB:hover:after {
  background: rgba(33, 208, 122, 0.5);
}

.back-buttonB.active:hover:after {
  background: rgba(255, 0, 0, 0.5);
}

.title {
  align-self: center;
  font-size: 2rem;
  cursor: default;
  background: linear-gradient(to right, #A855F7 23%, #27AE60);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 15px;
  justify-self: start;
  text-align: center;
  padding: 0;
}

.trailerV{
display: flex;
justify-content: center;
align-content: flex-end;
background-color: grey;
border: none;
/* padding-bottom: 10px; */
}








@media (max-width: 1000px) {
  iframe {
    width: auto;
  }
}


@media (max-width: 600px) {
  .entire {
    padding: 5px;
    flex-direction: column;
    align-items: center;
}

.details, .tAll {
    width: 100%; 
    border: 5px solid grey; 
}

.imgs {
    max-width: 70%;
    padding: 10px 5%;
}

.first2 {
    flex-direction: column;
    align-items: center;
}

.desc {
    padding-left: 5px;
    padding-right: 5px; 
}

.backline {
    flex-direction: column;
}

.back-button {
    width: auto;
    font-size: 2em;
    padding: 1px 15px;
}

.addRB {
    flex-direction: column;
    margin: 0; 
}
}

