@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: #032541;
  --secondary: #21d07a;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  /* margin-right: auto; */
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* margin-left: auto; */
  /* margin-left: 90%; */

}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  
  
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}


@media (max-width: 600px) {
  .brand-img {
    max-width: 50px;
    max-height: 25px;
  }

  .buttonall {
    margin-right: 5%;
  }

  header .nav-links {
    width: 100%; 
  }

  header .nav-links li {
    margin-right: 0.1px;
    margin-bottom: 10px; 
  }

  header .nav-links li:last-child {
    margin-bottom: 0;
  }

  .buttonAdd {
    font-size: 0.75rem;
    padding: 0.3em 0.5em;
    max-width: 35%;
  }

  .buttonAdd a {
    font-size: 0.75rem;
    padding: 0.2em 0.5em;
    display: inline-block;
  }


  .inner-content{
    gap: 10px;
  }


  
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


input:focus {
  outline: none;
}





.buttonAdd{
    position:relative;
    display:inline-block;
    margin: 0;
    padding-right: 0; 
    /* padding: 10% 30%; */
  }
  
  .buttonAdd a{
    color:white;
    font-family:Helvetica, sans-serif;
    font-weight:bold;
    font-size: 1rem;
    text-align: center;
    text-decoration:none;
    background-color:#18cca5;
    display: inline-block;
    /* position:relative; */
    padding: 10.5% 100%;
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    
    -webkit-box-shadow:inset 0 1px 0 #18cca5, 0 10px 0 #03362b;
    -moz-box-shadow:inset 0 1px 0 #18cca5, 0 10px 0 #03362b;
    box-shadow:inset 0 1px 0 #18cca5, 0 5px 0 #03362b;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .buttonAdd a:active{
    top:10px;
    background-color:#18cca5;
    
    -webkit-box-shadow:inset 0 1px 0 #18cca5, inset 0 -3px 0 #03362b;
    -moz-box-shadow:inset 0 1px 0 #18cca5, inset 0 -3pxpx 0 #03362b;
    box-shadow:inset 0 1px 0 #18cca5, inset 0 -3px 0 #03362b;
  }
  
  .buttonAdd:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    background-color:#2B1800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }






/* Header Styles */
header {
  background-color: var(--primary);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  width:100%;
  max-width: 1170px;
  align-items: center;
  /* padding: 2.5% 0; */
  padding: 2.5% 0;
  box-sizing: border-box;
  
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.6;
}

/* header .brand a {
  font-weight: 700;
  font-size: 1.75rem;
} */
.brand{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    
    /* width: 30%; */
    
}

  .brand-img{
    height: 100%;
    width: 100%;
    min-width: 75px;

    padding-right: 10px;
    cursor: pointer;
    border-radius: 15px;
  }

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10%;
}

header .nav-links li {
  display: inline-block;
  margin-right: 2px 0;
}
.buttonall{
  margin-right: 20%;
}
header .nav-links li:last-child {
  margin-right: 10px;
}

/* Add Page */
.add-content {
  padding: 5% 0;
  max-width: 100%;
  margin: 0 auto;
}

.add-content .input-wrapper {
  width: 100%;
  background-color: white;
  padding: 2.5%;
  border-radius: 15px;
  border: none;
  color: var(--white);
  font-size: 1.55rem;
}